/* Import font type */
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

/* Make root for colors */
:root {
    --effects: #54E6AF;
    --area: #2C344B;
    --background: #121725;
    --name: #FFFFFF;
    --companies: #5A668A;
    --text: #C2CBE5;
}

/* Reset some properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important; /* Set default font size */
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Chivo', sans-serif !important;
    overflow-x: hidden;
    background: 
        linear-gradient(rgba(18, 23, 37, 0.7993), rgba(18, 23, 37, 0.7993)),
        url(./assets/images/mobile/image-host.jpg);
    background-size: cover;
    background-color: var(--background);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.2rem !important;
    padding-bottom: 9.4rem !important;
}


/* Set some styles for main and its child elements */
body main {
    margin-top: 5.7rem;
}

main h1 {
    width: 32.7rem;
    font-size: 2.6rem;
    font-weight: 400;
    color: var(--effects);
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
}

.white-word {
    color: var(--name);
}

.description {
    width: 32.7rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text);
    line-height: 2.5rem;
    text-align: center;
    margin-top: 1.6rem;
}

/* Properly allocate company logos */
.company-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.45rem;
}

/* Style company logos */
.spotify {
    width: 5.6rem;
    height: 1.7rem;
}

.apple-podcast {
    width: 4.5rem;
    height: 1.7rem;
    margin-left: 2.3rem;
}

.google-podcasts {
    width: 7.3rem;
    height: 1.1rem;
    margin-left: 25px;
}

.pocket-casts {
    width: 7.7rem;
    height: 1.5rem;
    margin-left: 16px;
}

.interactive-elements {
    margin-top: 4.95rem;
}

.email-input {
    display: flex;
    align-items: center;
    width: 32.7rem;
    height: 4.6rem;
    background-color: var(--area);
    border-radius: 28px;
    border: none;
}

::placeholder {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--name);
    line-height: 2.8rem;
    opacity: 0.5;
    padding-left: 3.2rem;
}

/* Style user inputed text */
.email-input:focus,
.email-input:valid {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text);
    line-height: 2.8rem;
    padding-left: 3.2rem;
}

main button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32.7rem;
    height: 4.6rem;
    background-color: var(--effects);
    border-radius: 28px;
    border: none;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.50);
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--background);
    line-height: 1.8rem;
    margin-top: 1.6rem;
}

.error {
    font-size: 1.2rem;
    font-weight: 400;
    color: #FB3E3E;
    line-height: normal;
    margin-top: 0.5rem;
    margin-left: 3.2rem;
}

body footer {
    display: none; /* Hide footer in the mobile version */
}

/* Set styles for tablets */
@media only screen and (min-width: 768px) {
    body {
        background-image: url(./assets/images/tablet/image-host.jpg); /* Change the host photo with tablet version */
        background-size: auto;
        background-position-x: right;
        padding-top: 5rem !important;
        padding-bottom: 0 !important;
        display: block;
    }

    /* Set some styles for header */
    body header {
        margin-left: 5%;
    }

    /* Set some styles for main and its child elements */
    body main {
        width: 63.5rem;
        height: 50.9rem;
        background-color: var(--background);
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15.3rem;
    }

    main h1 {
        width: 63.5rem;
        font-size: 4.8rem;
        line-height: 5.6rem;
        text-align: start;
        margin-top: 9.3rem;
    }

    .description {
        width: 44.5rem;
        font-size: 1.8rem;
        line-height: 2.8rem;
        text-align: start;
        margin-top: 3.1rem;
    }

    .company-logos {
        justify-content: start;
        order: 1; /* Change the location with its neighbour elements */
        margin-top: 6.5rem;
    }

    .spotify {
        width: 9.6rem;
        height: 2.9rem;
    }

    .apple-podcast {
        width: 7.8rem;
        height: 2.9rem;
        margin-left: 4rem;
    }

    .google-podcasts {
        width: 12.5rem;
        height: 1.8rem;
        margin-left: 4.1rem;
    }

    .pocket-casts {
        width: 12.9rem;
        height: 2.6rem;
        margin-left: 2.7rem;
    }

    .interactive-elements {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-top: 4rem;
    }

    .email-input {
        width: 42.7rem;
        height: 5.6rem;
        position: relative;
        margin-top: 0;
    }

    .interactive-elements button {
        width: 16.2rem;
        height: 4.6rem;
        position: absolute;
        margin-top: 0;
        margin-right: 0.5rem;
    }

    body footer {
        display: block; /* Set the footer visible */
        margin-top: 15.3rem;
        margin-left: 3.9%;
    }

    /* Set styles for desktops */
    @media only screen and (min-width: 1440px) {
        body {
            background-image: url(./assets/images/desktop/image-host.jpg); /* Change the host photo with desktop version */
            background-position-y: 13rem;
            padding: 10.3rem 0 13rem 0 !important;
        }

        /* Set some styles for main and its child elements */
        body main {
            width: 72.3rem;
            height: 50.9rem;
            line-height: 6.2rem;
            margin-top: 10.4rem;
            margin-left: 11.46%;
        }

        /* Set some styles for header */
        body header {
            margin-left: 11.46%;
        }

        main h1 {
            width: 66.5rem;
            font-size: 5.2rem;
            margin-top: 8.8rem;
        }

        .description {
            margin-top: 2.4rem;
        }

        main button {
            box-shadow: 0px 2px 4px 0px rgba(84, 230, 175, 0.14);
        }

        /* Set some styles for footer and its child elements */
        body footer {
            display: flex;
            justify-content: end;
            margin-top: -5.2rem;
        }

        /* Add hover events */
        main button:hover {
            cursor: pointer;
            background-color: #B3FFE2;
            box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.50);
        }

        .email-input[type-text] {
            color: cyan;
        }
    }
}